* {
  text-align: center;
  /* background-color: #130233; */
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position:absolute;
  right: 8.5%;
  top: 10px;
  background-color: #17023f;
}

.Navbar {
  position: fixed;
  top: 5%;
  left: 5%;   
  display:flex;
  width: 20px;
  height: 90%;
  border: rgba(29, 1, 107, 0.74) 3px solid;
  border-radius: 25px;
  background-color: #130233;;
}

.About {
  position: absolute;
  top: 80%;
  right: 10%;
  font-size: 35px;
  color: rgba(250, 7, 250, 0.74);
  border: none;
  background-color: #130233;
}


.Contact {
  position: absolute;
  right: 10%;
  top: 60%;
  font-size: 35px;
  color: rgba(250, 7, 250, 0.74);
  border: none;
  background-color: #130233;
}

.Profile {
  position: absolute;
  right: 10%;
  top: 40%;
  font-size: 35px;
  color: rgb(250, 7, 250, 0.74);
  border: none;
  background-color: #130233;
}

.Favourites {
	position: absolute;
  right: 10%;
  top: 20%;
  font-size: 35px;
  color: rgb(250, 7, 250, 0.74);
  border: none;
  background-color: #130233;
}


.LandingPage {
  background-color: #19053fd3;
  background-image: linear-gradient(#130233, #130233, #1f074b);
  width: 1300px;
  height: 2000px;
  align-items: center;
  border-radius: 25px;
  position: absolute;
  top: 3%;
  left: 2%;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

.TopImage {
  position: absolute;
  width: 86%;
  height: 10%;
  left: 10%;
  top: 1%;
  background-color:rgba(31, 4, 104, 0.336);
  border-radius: 12px;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

.BlockChainTiles {
  list-style-type: none;
}

.Bitcoin {
  position: absolute;
  width: 520px;
  height: 360px;
  background-color:rgba(31, 4, 104, 0.336);
  top: 12%;
  left: 10%;
  border-radius: 25px;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

.Ethereum {
  position: absolute;
  width: 520px;
  height: 360px;
  background-color:rgba(31, 4, 104, 0.336);
  top: 12%;
  left: 54.5%;
  border-radius: 25px;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

.XRP {
  position: absolute;
  width: 520px;
  height: 360px;
  background-color:rgba(31, 4, 104, 0.336);
  top: 31%;
  left: 10%;
  border-radius: 25px;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

.Monero {
  position: absolute;
  width: 520px;
  height: 360px;
  background-color:rgba(31, 4, 104, 0.336);
  top: 31%;
  left: 54.5%;
  border-radius: 25px;
  border: 2px rgba(31, 4, 104, 0.74) solid;
}

