@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #17023f; */
  margin: 0;
  padding: 0;

}

.content {
  border: 3px rgba(255, 0, 0, 0.74) solid;
}
.Logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position:absolute;
  right: 14%;
  top: 10px;
}
.CarouselSect {
margin-bottom: 4%;
margin-top: 2%;
}
.navBar-Container {


}

.Navbar {
  height: 90%;
  border-radius: 50px;
  margin: 0;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  * {
    width: 100%;
    height: 100%;
  }
  .main-div {
      width: 100%;
      height: 100%;
  }
  .CarouselSect {
    width: 50%;
    height: 50%;
  }
}