@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel {
  width: 95vw;
  flex: auto; 
  margin-top: 2%;

}
.container {
  flex: auto;
  flex-direction: row; 
  text-align: center;
  justify-content: center;
  width: 100%;
}
.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}
.carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    width:5vw;
    color: white;
}

.red {
  color: red;
}

.green {
  color: greenyellow;
}