.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.charts{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.chart-1{
    
}

.chart-spacer {
    width: 2vw;
}
.chart-2 {
    border: red solid 3px;

}

.day-buttons {
    /* margin-bottom: 5%; */
}

.day-buttons :hover{
    color: blue;
}