/* .LandingPage {
    background-color: #ffffff;
    background-image: linear-gradient(#fefeff, #1f074b, #17023f);
    border-radius: 1000px;
} */
  
.CarouselSect {
    margin-bottom: 2%;
}


.LandingPage {
    display: flex;
    flex-direction: column;
    background-color: #17023f;
    background-image: linear-gradient(#17023f, #1f074b, #17023f);
    align-items: center;     

}
  
.navContainer{
    /* border: 3px solid rgb(255, 208, 0); */
    width:100%; 
}

.Table {
    padding: 0 5%;
}