.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: rgba(56, 4, 104, 0.74) 3px solid;
  background-color: hsl(261, 94%, 13%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;  
  justify-content: space-between;

}

 .Logo {
  width: 80px;
  height: 80px;  
}

.buttons {
  font-size: 40px;
  color: rgba(250, 7, 250, 0.74);
  border: none;
  background-color: #17023f;
  margin: 0 1vw;
}

.navLeft{
  /* border: solid red 3px; */
  margin-left: 1vw;

}

.navMiddle{
  /* border: solid red 3px; */
  margin-left: 12vw;
 

}
.navRight{
  /* border: solid red 3px; */
  margin-right: 1vw;

}





/* 
@media only screen and (max-width: 768px) { 
   For mobile phones:  
  .Navbar {


    border: rgba(56, 4, 104, 0.74) 3px solid;
    border-radius: 50px;
    background-color: hsl(261, 94%, 13%);
    position: sticky; 
     justify-content: center; 
  }
  
  .Logo {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 50px;
    height: 50px;  
    
  }
  
  .buttons {
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 35px;
    color: rgba(250, 7, 250, 0.74);
    border: none;
    background-color: #17023f;
  }
}  */