.TopImage .main-div {
    justify-content: center;
}
.charts{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.chart-1{
    margin-right: 2%;
    width: 42vw;
}
.chart-2 {
    margin-left: 2%;
    width: 42vw;


}
.day-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
}



